/* comment page ---------- */

.repliesContainer {
  padding-left: 20px;
}

/* commentform page---------- */

.formcomment {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 10px;
}

.inputcomment {
  width: 90%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ddd;
  margin-top: 10px;
  height: 45px;
  font-size: 18px;
}

.commentbtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* comment icon page ---------- */

.commenticon {
  cursor: pointer;
  color: #007bff;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

/* comment list page ------------- */
.commentsContainer {
  margin-top: 10px;
}

/* new post form page ------------ */

.newpostform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.newpostinput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* post page ---------- */

.postContainer {
  width: 800px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.imagesset {
  width: 80%;
  border-radius: 10px;
  max-height: 500px;
  margin: 1rem 0;
}


.alignclickbtn {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.commentlist {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.commentlist p {
  margin-left: 5px;
  margin-bottom: 0;
}

.commentButton {
  margin-top: 10px;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}


.setalldiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
  width: 100%;
  margin: 1rem 0;
}

/* Container for chat messages */

.chat-message p {
  margin: 0;
}

.chat-message {
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4caf50;
  color: white;
  display: inline-block;
  position: relative;
  word-wrap: break-word;
  margin-left: 1rem;
}

.chat-message::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -7%;
  transform: rotate(50deg);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #4caf50;
}

.setprofileimg img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.alignprobub {
  display: flex;
  align-items: center;
}

.replyButton {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 10px 80px;
  color: black;
  font-size: 14px;
}

.username {
  text-align: left;
  margin-left: 1.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

/* home css ---------------- */

.commentcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.newPostButton {
  position: absolute;
  top: 2%;
  right: 3%;
  padding: 12px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
